*{
	background-color:#f5f5f5;
	padding:0px;
	margin:0px;
}
.header h2{
	display:flex;
	justify-content:center;
	color:white;
	background-color:#011e29;
	height:100px;
	align-items:center;
}
.unorder{
	padding:0px 100px;
}
.latest-news-section{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.center{
	text-align:center;
}
.center h2{
	font-size:15px;
}
.para h2{
	font-size:15px;
  padding:0px 10px;
}
.para{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.lipsum{
	padding:0px 10px;
    width:500px;
}
img{
	width:200px;
	height:100px;
    padding:10px 10px;
}
.container{
	margin:10px;
	display:flex;
    justify-content:space-around;
	gap:10px;
}
h3{
	font-size:15px;
}
.pictorial-news-section{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}